.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

h1 {
  text-align: center;
  color: blue;

}

img {
  display: block;
  margin: 0 auto;
  width: 25%;
}


#one {
  
  background: gold;
  width: 600px;;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  margin: 0 auto;
  
  
  }

.Error-Output {
  margin-left: 10px;
  font-size: 12px;
  font-style: italic;
  color: red;
}
p,li{
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  
}
.input{
  text-align: center;
}
#header{
  background-color: lightblue;
  width:100%;
  height:50px;
  text-align: center;
}

#sidebar-left{
  float:left;
  width:15%;
  background-color: red;
}

#main{
  float:left;
  width:70%;
  background-color: lightgray;
  display:block;
}

#sidebar-right{
  float:left;
  width:15%;
  background-color: red;
  
}

#footer{
  clear:both;
  height: 50px;
  width: 100%;
  text-align: center;
  background-color: lightblue;
}

#sidebar-left, #main, #sidebar-right{
  min-height: 400px				
}
 #First{
  
  box-sizing:border-box;
  width: 100%;
  border: 5px solid palegreen;

  
}
#two{
  box-sizing: border-box;
  width: 100%;
  border: 5px solid palegreen;



}

#three{
  box-sizing: border-box;
  width: 100%;
  border:5px solid palegreen;
  
}
#four{
  box-sizing: border-box;
  width: 100%;
  border:5px solid palegreen;
  
}


